.custom-slider {
  background: #0000009e;
  padding: 25px;
  border-radius: 10px;
}

.btn-bookmark.btn-secondary {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #00000094;
  border: 0;
}
